body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/* background-color: linear-gradient(to bottom, #545454, #383838, #000000); */
	background-image: url('../picture/background2.jpg');
	background-size:cover
}
	/* background-image: url("https://images.unsplash.com/photo-1629194898512-b6b8697063ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1662&q=80");
} */

.main{
	width: 350px;
	height: 500px;
	background: rgb(65, 65, 65) ;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #0d0036;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #d500f9;
}
.login{
	height: 470px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-110px);
	transition: .8s ease-in-out;
}
#wholeForm{
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9.4px);
	-webkit-backdrop-filter: blur(9.4px);
	border: 1px solid rgba(255, 255, 255, 0.51);
}

.login label{
	color: #0d0036;
	transform: scale(.6);
}
#checkPassword,
#checkUser {
    display: none;
    color: #fff;
    position: relative;
	line-height: 0.5;
    text-align: center;
}

#checkPassword>p {
    position: relative;
	line-height: 0;

}
#loginResult {
	display: flex;
	justify-content: center;
	color: #ff0000;
}

#signupResult{
	display: flex;
	justify-content: center;
	color: #ff0303;
}

.valid {
    color: #009345;
}

.valid:before {
    position: relative;
    left: -35px;

}

.invalid {
    color: rgb(233, 106, 106);
}

.invalid:before {
    position: relative;
    left: -35px;

}

.opt {
    color: rgb(250, 250, 121);
}

.opt:before {
    position: relative;
    left: -35px;

}

#chk:checked ~ .login{
	transform: translateY(-480px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
